@import "tailwindcss";

body {
    position: relative;
}

main {
    flex-grow: 1;
}

.font-inter {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

section {
    border-radius: 50px 50px 0 0;
    width: 90vw;
    margin-top: -5rem;
    display: flex;
}

.shadowed {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}