@import "tailwindcss";

@theme {
    --color-purp-dark: #7B448E;
    --color-purp-main: #8F4EA6;
    --color-purp-main-20: #8F4EA633;
    --color-black-main: #303030;
    --color-black-light: #606060;
    --color-light-gray: #F5F5F5;
    --color-gray: #B3B3B3;
    --color-dark-gray: #939393;
    --color-white: #FFFFFF;
    --color-gray-line: #DEDEDE;
}

body {
    position: relative;
}

main {
    flex-grow: 1;
}

.font-inter {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.shadowed {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.shadowed-white {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.1);
}

hr {
    @apply text-gray-line;
}

.text-left-adapt {
    @apply text-center lg:text-left;
}

.slick-prev::before,
.slick-next::before {
  color: #303030 !important; /* blue-800 */
  font-size: 1.5rem !important;
  opacity: 1 !important;
}

.slick-slide {
  outline: none;
}

.slick-prev,
.slick-next {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 999px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.slick-prev {
  left: 25px !important;
}

.slick-next {
  right: 25px !important;
}